.flex-container
{
    margin-top:100px;
    display:flex;
    flex-wrap: nowrap;
    width:100%;
    height:500px;
    justify-content:center;
}
.flex-item{
    background:cyan;
    border:1pt solid black;
    width:10px;
    transition:0.1s all ease;
}
.input
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:10px;
}